* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  background-color: white;
}

.navbarmenu ul {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25px;
  list-style: none;
}

.logoimg{
  padding-left: 32px;
}

header a {
  color: #454545;
  font-size: large;
  display: flex;
  gap: 9px;
  align-items: center;
}

.fa-angle-down {
  font-size: 10px;
}

#homeid {
  position: relative;
  display: inline-block;
}

.navsearch {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 22px;
  color: #454545;
  padding-right: 30px;
}

.home-dp-content {
  position: absolute;
  z-index: 1;
  left: 60px;
  color: #454545;
  gap: 100px;
  font-size: 13px;
  display: none;
  transition: 0.5s;
  background-color: white;
}
.home-dp-content li {
  padding: 13px;
}

#home-hover:hover .home-dp-content {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.slider-card {
  background-image: url("/src/img/slider-portfolio-4aaa.jpg");
  background-size: cover;
  width: 90%;
  height: 90vh;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blank-2-head {
  width: 100%;
  padding: 50px;
}

.blank-2-head ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.blank-2-head a {
  color: #454545;
}

.imgbox {
  width: 27%;
  height: 483px;
  position: relative;
  overflow: hidden;
}

.imgbox-text {
  position: absolute;
  bottom: -40px;
  opacity: 0;
  background-color: white;
  width: 100%;
  transition: 0.5s;
  height: 85px;
  font-size: large;
  padding: 15px;
  color: #454545;
}

.imgbox:hover .imgbox-text {
  opacity: 1;
  transition: 0.5s;
  bottom: 0;
}

.img-boxes {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 25vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  color: #454545;
}

.footer-sosial-logo{
  display: flex;
  gap: 15px;
  font-size: larger;
  color: #454545b2;
}

